body{
	background-color: #eceff1;
	box-sizing: border-box;

}

body h2 {
	margin:120px 0px -120px 0px;
	padding:0;
	text-align: center;
	color:#81C784;
	font-size:30px;
}

.mainDiv {
	display: block;
	margin:150px auto;
	padding:20px;
	background-color: #02b875;
	width:20%;
	border-radius: 3px;
	box-shadow: 1px 1px 5px 1px grey;
}

.mainDiv input {
	width: 90%;
	height:35px;
	margin:5px auto;
	padding:10px;
	display: block;
	border-radius: 5px;
	border:none;
	box-sizing: border-box;
	color: grey;
	font-size:15px;
}

.mainDiv input[type = "submit"] {
	background-color: #81C784;
	color:#fff;
	cursor: pointer;
	height:38px;
}
.mainDiv input[type = "submit"]:hover {

	box-shadow: 1px 1px 5px 1px #fff;
	transition: 0.3s;
}
