body{
	font-family: 'Comfortaa', cursive;
	margin:0;
	padding:0;
}

* {
	box-sizing: border-box;
}

header{
	background-color: #02b875;
	width:100%;
	height:65px;
	display: block;
	color:#fff;
	font-size:25px;
	padding:20px;
	text-align: center;
}

input[type="text"]{
	width:50%;
	margin:20px 0 0 0;
	height: 35px;
	padding:5px;
	font-size: 15px;
	border-radius:3px;
	border:1px solid grey;
	
}
input[type = "submit"]{
	display: inline-block;
	height: 25px;
	color:#fff;
	background-color: #81c784;
	border:none;
	cursor: pointer;
	border-radius:3px;
	font-size: 12px;
}

input[type = "submit"]:hover {
	background-color: #02b875;
	transition: .3s;
	
}

h3 {
	text-align: center;
	margin:10px auto;
}
.div1 {
	width:60%;
	float:left;
	padding:15px;
	margin:0;
	border-right:1px solid lightgrey;
}

.div2 {
	width:40%;
	float:left;
	padding:15px;
	margin:0;
}
table {
	width:100%;
	margin:30px auto;
}

table th {
	background-color: #02b875;
	color:#fff;
	width:10px;
	font-weight: normal;
}
table tr:nth-child(odd){
	background-color: lightgrey;
}
table tr, td, th{
	text-align: center;
	height:45px;
	font-size: 12px;	
}

.div2A {

	height:300px;
	display: block;
	overflow-y: scroll;
	margin:10px 0;
}

.div2B {
	padding:10px;
	background-color:#eceff1;
	height:250px;
	display: block;
	margin:10px 0;
	overflow-y: scroll;


}