.mainWrapper{
	position: relative;
	height: 500px;
	width: 800px;
	background-color: #81C784;
	margin: 0 0 0 200px;
	padding: 0;

}

.leftWrapper{
	position: absolute;
	width: 40%;
	height: 100%;
	float: left;
	
}

.leftWrapper h2{
	width: 100%;
	margin: 0;
	padding: 5px;
	text-align: center;
	

}

.leftWrapper img{
	position: absolute;
	height: 250px;
	width: 250px;
	left: 35px;
	top: 80px;
	border-radius: 5px;
}

.leftWrapper .name{
	position: absolute;
	top: 370px;
	height: 50px;
	width: 95%;
	left: 10px;
	background-color: #eceff1;
}

.leftWrapper .name h1{
	margin: 0;
	padding: 0;
	text-align: center;
}

.rightWrapper{
	width: 60%;
	height: 100%;
	float: right;
	
}

.div1, .div2, .div3, .div4, .div5, .div6 {
	
	height: 50px;
	margin: 7px;
	width: 97%;
	background-color: #eceff1;
}
.div1 h3, .div2 h3, .div3 h3, .div4 h3, .div5 h3, .div6 h3{
	margin: 0;
	padding: 10px;
	font-size: 20px;

}

.setting{
	height: 60px;
	margin: 5px, 0, 0, 5px;
	margin: 10px;
	width: 95%;
	background-color: #eceff1;
}

.setting h3{
	padding: 2px;
	margin: 0;
	text-align: center;
}

.setting ul{
	margin: 0;

}
.setting ul li{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	color: blue;
}